  .copyrightSection {
    background-color: #000;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
  }

  .foot {
    color: goldenrod;
    text-decoration: overline;
    background-color: transparent;
  }

  .col-md-12 {
    padding-bottom: 15px;
  }
  
  .copyrightSection p {
    margin: 0;
  }

  .bnc {
    width: 50px;
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {
    .copyrightSection p {
      font-size: smaller;
    }
  }