<section id="about" class="about_profile">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- <hr class="line"
                    width="40%">
                <h2>ABOUT</h2> -->
                <img class="about_logo rounded mx-auto d-block" src="https://res.cloudinary.com/kaushalshah1307/image/upload/v1599044103/Friends%27%20Republic/Assets/fr_logo_Original.png">
                <p class="about_para"> We are Friends' Republic, an Indie Production Company from Mumbai.
                </p>
            </div>
        </div>
    </div>
</section>