.about_profile {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #000;
}

.about_para {
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-size: 16px;
}

.about_logo {
  width: 15%;
  padding-bottom: 20px;
}

@media screen and (max-width: 736px) {
  .about_logo {
    width: 50%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .about_logo {
    width: 25%;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1025px) {
  #about {
    margin-left: 35%;
    margin-right: 35%;
  }
}