<div id="slides">
    <div class="overlay">   
        <a class="ct-btn-scroll ct-js-btn-scroll" href="#portfolio"><img alt="Arrow Down Icon" src="https://raw.githubusercontent.com/solodev/scroll-down-anchor/master/images/arrow-down-1.png"></a>
    </div>
    <section class="view intro-video">
        <video poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline="playsinline" autoplay="autoplay" [muted]="'muted'" loop="loop">
          <source src="https://res.cloudinary.com/kaushalshah1307/video/upload/v1596276202/Website_reel_8M_cniufq.mp4" type="video/mp4">
        </video>
    </section>
    <!-- <div class="slides-container">
        <img src="../../assets/images/slide1.jpg" alt="">
        <img src="../../assets/images/slide2.jpg" alt="">
        <img src="../../assets/images/slide3.jpg" alt="">
        <img src="../../assets/images/slide4.jpg" alt="">
    </div> -->
    <!-- <div class="TitleMessage">
        <div class="heading">
            <p class="main"><img class="frLogo" style="height: 100px; opacity: 0.65;" src="../../assets/images/fr_logo Original.png" alt="Friends Republic"></p>
            <p class="sub typed"></p>
        </div>
    </div> -->
</div>