<div id="slides">
    <div class="overlay">
    </div>
    <section class="view intro-video">
        <video poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline="playsinline" autoplay="autoplay" [muted]="'muted'" loop="loop">
          <source src="../../assets/video/FR_Reel.mp4" type="video/mp4">
        </video>
    </section>
    <!-- <div class="slides-container">
        <img src="../../assets/images/slide1.jpg" alt="">
        <img src="../../assets/images/slide2.jpg" alt="">
        <img src="../../assets/images/slide3.jpg" alt="">
        <img src="../../assets/images/slide4.jpg" alt="">
    </div> -->
    <!-- <div class="TitleMessage">
        <div class="heading">
            <p class="main"><img class="frLogo" style="height: 100px; opacity: 0.65;" src="../../assets/images/fr_logo Original.png" alt="Friends Republic"></p>
            <p class="sub typed"></p>
        </div>
    </div> -->
</div>