<div id="contact" class="contactSection">
    <div class="col-md-12 text-center">
        <!-- <hr class="line" width="10%"> -->
        <h2>FOUND OUR WORK CREATIVE? </h2>
        <p>We would love to hear from you!</p>
        <a href="mailTo:friends.republic@yahoo.com" class="mailButton">EMAIL US</a>
        <p class="phone"><i class="fas fa-phone-square-alt"></i> +91-7575859595</p>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/friendsrepublic.99/" class="facebook" target="_blank " rel="noopener"><i
                class="fab fa-facebook fa-2x"></i></a>
        <a href="https://vimeo.com/channels/friendsrepublic" class="vimeo" target="_blank" rel="noopener"><i
                class="fab fa-vimeo fa-2x"></i></a>
        <a href="https://www.instagram.com/friendsrepublic/" class="instagram" target="_blank" rel="noopener"><i
                class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.youtube.com/user/FriendsRepublic" class="youtube"
            target="_blank" rel="noopener"><i class="fab fa-youtube fa-2x"></i></a>
    </div>
</div>