.contactSection {
    padding-bottom: 20px;
    background-color: #000;
    color: #fff;
    margin-bottom: -4px;
    margin-top: -4px;
  }
  
  .about_logo {
    width: 15%;
    padding-bottom: 20px;
  }

  .socialLinks {
    color: #fff;
  }

  .logo {
    text-align: right;
  }
  
  @media screen and (min-width: 1024px) {
    .about_logo {
      width: 50%;
      padding-bottom: 20px;
    }
    .contactSection {
      margin-left: 30%;
      margin-right: 30%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .about_logo {
      width: 50%;
      padding-bottom: 20px;
    }
  }
  @media screen and (max-width: 736px) {
    .about_logo {
      width: 75%;
      padding-bottom: 20px;
    }
  }