.contactSection {
    padding-bottom: 20px;
    background-color: #000;
    color: #fff;
    margin-bottom: -4px;
    margin-top: -4px;
  }
  
  .about_logo {
    width: 15%;
    padding-bottom: 20px;
  }
  
  @media screen and (max-width: 736px) {
    .about_logo {
      width: 50%;
      padding-bottom: 20px;
    }
  }
  @media screen and (max-width: 1024px) {
    .about_logo {
      width: 25%;
      padding-bottom: 20px;
    }
  }