<div id="contact" class="contactSection">
    <div class="col-md-12 text-center">
        <div class="row">
            <div class="col">
                <!-- <div class="col-md-12 text-center">
                        <div class="row">
                                <a href="#" class="facebook" target="_blank" rel="noopener">
                                       <i>
                                          Facebook     
                                       </i> 
                                </a>
                        </div>
                </div> -->
                <!-- <div class="social">
                <a href="https://www.facebook.com/friendsrepublic.99/" class="facebook" target="_blank " rel="noopener"><i
                        class="fab fa-facebook fa-2x"></i></a>
                <a href="https://vimeo.com/channels/friendsrepublic" class="vimeo" target="_blank" rel="noopener"><i
                        class="fab fa-vimeo fa-2x"></i></a>
                <a href="https://www.instagram.com/friendsrepublic/" class="instagram" target="_blank" rel="noopener"><i
                        class="fab fa-instagram fa-2x"></i></a>
                <a href="https://www.youtube.com/user/FriendsRepublic" class="youtube"
                target="_blank" rel="noopener"><i class="fab fa-youtube fa-2x"></i></a>
                </div> -->
            </div>
            <div class="col">
                <img class="about_logo rounded-circle z-depth-2" src="https://res.cloudinary.com/kaushalshah1307/image/upload/v1599044103/Friends%27%20Republic/Assets/fr_logo_Original.png">
            </div>
        </div>
        <!-- <hr class="line" width="10%"> -->
        <!-- <h4>FOUND OUR WORK CREATIVE?</h4>
        <p>We would love to hear from you!</p>
        <a href="mailTo:friends.republic@yahoo.com" class="mailButton">EMAIL US</a>
        <p class="phone"><i class="fas fa-phone-square-alt"></i> +91-7575859595</p> -->
    </div>
    <!-- <div class="social">
        <a href="https://www.facebook.com/friendsrepublic.99/" class="facebook" target="_blank " rel="noopener"><i
                class="fab fa-facebook fa-2x"></i></a>
        <a href="https://vimeo.com/channels/friendsrepublic" class="vimeo" target="_blank" rel="noopener"><i
                class="fab fa-vimeo fa-2x"></i></a>
        <a href="https://www.instagram.com/friendsrepublic/" class="instagram" target="_blank" rel="noopener"><i
                class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.youtube.com/user/FriendsRepublic" class="youtube"
            target="_blank" rel="noopener"><i class="fab fa-youtube fa-2x"></i></a>
    </div> -->
</div>