<div id="contact" class="contactSection">
    <div class="col-md-12 text-center">
        <div class="row">
            <div class="col">
                <p><a class="socialLinks" href="https://vimeo.com/channels/friendsrepublic" target="_blank">Vimeo</a></p>
                <p><a class="socialLinks" href="https://vimeo.com/channels/friendsrepublic" target="_blank">Instagram</a></p>
                <p><a class="socialLinks" href="https://www.youtube.com/user/FriendsRepublic" target="_blank">Youtube</a></p>
                <p><a class="socialLinks" href="mailTo:friends.republic@yahoo.com">Email</a></p>
            </div>
            <div class="col">
                <img class="about_logo rounded-circle z-depth-2" src="https://res.cloudinary.com/kaushalshah1307/image/upload/v1599044103/Friends%27%20Republic/Assets/fr_logo_Original.png">
            </div>
        </div>
    </div>
</div>