<div id="portfolio"
  class="statsSection no-gutters">
  <div class="slides-container">
    <div class="container-fluid">
      <div class="row">
        <div class="itemsContainer">
          <ul class="row items">
            <li (click)="setSelectedItem(items)"
              class="{{ items.class }} col-12 col-sm-12 col-md-12 col-lg-4"
              data-toggle="modal"
              data-target="#myModal"
              *ngFor="let items of project">
              <div class="item">
                <img src="{{ items.cover }}">
                <div class="imageOverlay">
                  <div class="video-background-content container h-100">
                    <div class="d-flex h-100 text-center align-items-center">
                      <div class="w-100 text-white image-text">
                        <p class="lead mb-0">B Side</p>
                        <p class="sub-lead">A Documentary Series</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div *ngIf="showDialog"
            class="modal no-gutters"
            id="myModal"
            role="dialog">
            <div class="modal-body the-modal">
              <div class="modal-header">
                <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="showDialog = false;"
                  style="color: white;">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="container-fluid h-100">
                <div class="row justify-content-center align-self-center">
                  <div class="col-md-8 ml-auto embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe [src]="selectedItem?.video | safe"
                      allowfullscreen></iframe>
                  </div>
                    <div class="col-md-4 ml-auto">
                      <div class="project-meta">
                        <h2 class="project-title">B SIDE</h2>
                        <div class="project-description">
                          <p>You're telling the enemy exactly what you're going to do. No wonder you've been fighting Lorem Ipsum your entire adult life.</p>
                          <p>Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee.</p>
                          <br>
                          <div>
                            <p class="project-meta">Directed By: <span class="meta">Hetan Shah</span></p>
                            <p class="project-meta">Shot By: <span class="meta">Chinmay Deshpandey</span></p>
                            <p class="project-meta">Produced By: <span class="meta">Friends' Republic</span></p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
