
.cover {
  position: relative;
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/kaushalshah1307/image/upload/v1599113812/Friends%27%20Republic/Assets/fr_Bside_YT_channel_art__Live_now.jpg");
}

.the-modal {
  max-width: 100%;
  background-color: black; 
  max-height: -webkit-fill-available;
  margin: 0 0 0 0;
}

.modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: hidden;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.close {
  font-size: 2rem;
}

.close:focus {
  outline: none;
  box-shadow: none;
}

/* @media (min-width: 1440px) {
  #video {
    padding-bottom: 50px;
  }
} */
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }